{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-between mt-3">
		<h1>Toutes les catégories:
		</h1>
		<a class="btn btn-secondary py-3" href="{{ path('category_new') }}">Ajouter une catégorie</a>
	</div>
	<div class="list-group m-3">
		{% for category in categories %}
			<button type="button" class="list-group-item list-group-item-action">
				<a href="{{ path('category_show', {'categoryName': category.name}) }}">{{ category.name }}</a>
			</button>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}
	</div>

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
