{% extends "layoutEmail.html.twig" %}
{% block emailTitle %}
	{{ program.title }}
{% endblock %}
{% block itemTitle %}
	program
	{{ program.title }}
{% endblock %}
{% block itemSynopsis %}
	{{program.synopsis }}
{% endblock %}
{% block itemLink %}
	<a href="{{ url("program_show", { slug: program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
{% endblock %}
