{% extends 'base.html.twig' %}
{% block title %}Series
{% endblock %}
{% block body %}
	<h1 class="m-3">{{ programs.title }}</h1>
	<h2 class="mx-5">Liste des épisodes de la saison
		{{ seasons.number }}</h2>
	<div class="container">
		<div class="row justify-content-center">
			{% for episode in episodes %}
				<div class="col-md-4">
					<div class="card m-3">
						<div class="card-body">
							<h5 class="card-title">{{ episode.title }}</h5>
							<p class="card-text">Episode
								{{ episode.number }}</p>
							<a href="#" class="btn btn-primary">Voir l'épisode</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
